/* Move messages button to the left */
#scroll-top {
	right: 5rem !important;
}

/* border-radius: 0.25rem */
.list-group-item-secondary,
.list-group-item,
.list-group,
.info_bar,
.icms-users-profile__view .fieldset_title h3 {
	border-radius: 0.25rem !important;
}

/* border-radius: 0.5rem */
.icms-bg__cover,
.m-1,
.conversation-body > .msg-content .bb_tag_code,
.content_list.featured .ft_image a,
.carousel-inner,
.value.text-muted > a > img {
	border-radius: 0.5rem;
}

/* Theme switch hover color change */
a.text-light:hover > img,
a.text-light:focus > img {
	filter: brightness(0.8);
	cursor: pointer;
}

/* Make the scrollbar thin */
html,
#nm-dialog * {
	scrollbar-width: thin;
}

/* Resize banner for android */
.navbar-brand {
	max-width: 45vw;
}

/* Resize nm */
#nm-dialog {
	max-width: 85% !important;
	max-height: 85% !important;
	border-radius: 10px !important;
}

.nm-left {
	width: 15% !important;
}

.nm-right {
	width: 85% !important;
}

@media (max-width: 520px) {
    .nm-contacts-open .nm-content>.nm-right {
        width: 100% !important;
	}
	.nm-content>.nm-left {
        width: 100% !important;
    }
}