/* Move messages button to the left */
#scroll-top {
	right: 5rem !important;
}

/* border-radius: 0.25rem */
.list-group-item-secondary,
.list-group-item,
.list-group,
.info_bar,
.icms-users-profile__view .fieldset_title h3 {
	border-radius: 0.25rem !important;
}

/* border-radius: 0.5rem */
.icms-bg__cover,
.m-1,
.conversation-body > .msg-content .bb_tag_code,
.content_list.featured .ft_image a,
.carousel-inner {
	border-radius: 0.5rem;
}

/* Theme switch hover color change */
a.text-light:hover > img,
a.text-light:focus > img {
	filter: brightness(0.8);
	cursor: pointer;
}

/* Make the scrollbar thin */
html {
	scrollbar-width: thin;
}